{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Cadastre-se{% endblock title %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Entrar</a>
  </li>
  <li>
    <a class="nav-link bg-azul" href="{% url 'cadastro' %}">Cadastrar-se</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Sair</a>
  </li>
{% endblock menu %}

{% block content %}
<section class="bg-white">
    <div class="container-fluid h-custom" id="cadastro">
        <div class="row d-flex justify-content-center align-items-center m-5 p-4 h-100">
            <div class="text-center pt-3 mt-3">
                <img src="{% static 'img/logo.png' %}" height="80px" width="80px" alt="">
            </div>    
            <div class="container register-form">
                <div class="form"> 
                    <div class="form-content">
                        <div class="py-4 py-md-5">
                            <h4 class="bg-azul mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Preencha os campos abaixo:</h4>
                            <div class="text-center mb-3">
                                <p class="text-black px-2 mb-3">Já tem uma conta?<a href="{% url 'login' %}" class="bg-laranja mx-1">Entrar</a></p>
                            </div>
                            <form method="post" action="{% url 'cadastro' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.username|as_crispy_field }}
                                        {{ form.nome|as_crispy_field }}
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.telefone|as_crispy_field }}
                                        {{ form.password1|as_crispy_field }}
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn rounded-pill btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #FF914D;">Confirmar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}