{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Entrar{% endblock title %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Entrar</a>
  </li>
  <li>
    <a class="nav-link bg-azul" href="{% url 'cadastro' %}">Cadastrar-se</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Sair</a>
  </li>
{% endblock menu %}
{% block content %}
<section class="vh-80">
  <div class="container-fluid h-custom" id="login">
      <div class="row d-flex justify-content-center align-items-center m-5 p-4 h-100">
          <div class="text-center pt-3 mt-5">
              <img src="{% static 'img/logo.png' %}" height="80px" width="80px" alt="">
          </div>    
          <div class="container register-form">
              <div class="form"> 
                  <div class="form-content">
                      <h4 class="text-white text-center mb-4">Preencha os campos abaixo:</h4>
                      <div class="pyxb-4 pyxb-md-5 justify-content-center align-items-center">
                          <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="mx-auto w-75">
                              <button type="submit" class="btn btn-primary w-100">Alterar</button>
                            </div>
                          </form>
                          <div class="text-center mt-3">
                            <a href="{% url 'password_reset' %}" class="text-decoration-none">Esqueceu a senha?</a> - 
                            <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="text-decoration-none">Cancelar</a>
                          </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}