{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Entrar{% endblock title %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Entrar</a>
  </li>
  <li>
    <a class="nav-link bg-azul" href="{% url 'cadastro' %}">Cadastrar-se</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Sair</a>
  </li>
{% endblock menu %}
{% block content %}
<section class="vh-80">
  <div class="container-fluid h-custom" id="login">
      <div class="row d-flex justify-content-center align-items-center m-5 p-4 h-100">
          <div class="text-center pt-3 mt-5">
              <img src="{% static 'img/logo.png' %}" height="80px" width="80px" alt="">
          </div>    
          <div class="container register-form">
              <div class="form"> 
                  <div class="form-content">
                    <h2 class="text-center mb-3">Redefinição de senha enviada</h2>
                    <p>Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
                    <p class="mb-3">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
                    <div class="text-center mt-3">
                      <a href="{{ request.scheme }}://{{ request.get_host }}" class="text-decoration-none">Voltar</a>
                    </div>
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}