{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Cadastrar empréstimo{% endblock title %}

{% block menu %}{% endblock menu %}

{% block content %}
<section class="vh-80 bg-white">
    <div class="container-fluid h-custom" id="login"> 
      <div class="row d-flex justify-content-center align-items-center m-4 p-4 h-100 bg-white">
        <div class="row text-start pt-3 mt-5">
          <div class="container text-start">
            <h4 class="bg-laranja"><span><a href="#"><i class="fas fa-arrow-left mx-2" style="color: #FF914D;"></i></a></span>Cadastrar empréstimo</h4>
          </div>
        </div>
                <div class="container justify-content-center register-form">
                    <div class="form"> 
                        <div class="form-content">
                          <div class="p-2 p-md-2">
                            <h4 class="text-white mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Preencha os campos abaixo:</h4>
                            <form method="post" action="{% url 'cadastro_emprestimo' %}">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.usuario|as_crispy_field }}
                                        {{ form.devolvido|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.livro|as_crispy_field }}
                                    </div>
                                </div>
                              <div class="d-flex justify-content-center text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn rounded-pill btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #FF914D;">Confirmar</button>
                            </div>
                          </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
              </div>
    
        </div>
    </div>
</section>
{% endblock content %}