{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Deletar livro{% endblock title %}

{% block menu %}{% endblock menu %}

{% block content %}
<section class="vh-80">
    <div class="container-fluid h-custom mt-5 pt-5" id="cadastro_emprestimo">
      <div class="row d-flex justify-content-center align-items-center m-4 p-4 h-100 bg-white">
        <div class="row text-start pt-3 mt-5">
          <div class="container text-start">
            <h4 class="bg-laranja"><span><a href="{{ request.META.HTTP_REFERER }}"><i class="fas fa-arrow-left mx-2" style="color: #FF914D;"></i></a></span>Deletar livro</h4>
          </div>
        </div>
        <div class="container register-form">
            <div class="form"> 
                <div class="form-content">
                  <div class="p-2 p-md-3">
                    <h4 class="bg-azul mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Você deseja mesmo deletar o livro "{{ livro.titulo }}"?</h4>
                    <form method="post">
                        {% csrf_token %}
                       <div class="text-center text-lg-start">
                      <button type="submit" class="btn rounded-pill btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #FF914D;">Confirmar</button>
                      <a href="{% url 'gerenciar_livros' %}" class="btn btn-secondary rounded-pill btn-lg" role="button">Cancelar</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}