{% extends "base.html" %}
{% load static crispy_forms_filters %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Entrar</a>
  </li>
  <li>
    <a class="nav-link bg-azul" href="{% url 'cadastro' %}">Cadastrar-se</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-azul" href="{% url 'index' %}">Sair</a>
  </li>
{% endblock menu %}

{% block content %}
<!-- Banner -->
<section class="vh-80">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static './img/logo.png' %}" alt="logo" width="70" height="70">
    <h1 class="display-5 fw-bold bg-laranja">Biblioteca Inteligente</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-light">Sistema online de gerenciamento de bibliotecas escolares.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline btn-lg px-4 gap-3 rounded-pill" style="border-color:#FF914D;"><a class="text-decoration-none" style="color:#FF914D;" href="{% url 'login' %}">Entre</a></button>
        <button type="button" class="btn btn-outline btn-lg px-4 rounded-pill" style="border-color:#FF914D;"><a class="text-decoration-none" style="color:#FF914D;" href="{% url 'cadastro' %}">Cadastre-se</a></button>
      </div>
  </div>
            
  <div class="py-5 bg-white w-100">
    <div class="container fluid">
      <div class="row m-4">

        <div class="col-md-5">
          <h2 class="fs-2 text-black fw-bold">Sobre nós</h2>
          <p class="lead fs-6 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>

        <div class="col-md-6 offset-md-1 text-black">
          <p class="lead fs-6 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          <p class="lead fs-6 text-black">ullamco laboris nisi ut a Lorem ipsum dolor sit amet,consectetur adipiscing eli ncididunt ullamco laboris nisi ut a Lorem ipsum dolor sit amet,consectetur adipiscing el Lorem ipsum dolor sit amet,consectetur adipiscing eli ncididunt ullamco laboris nisi ut a Lorem ipsum dolor sit amet,consectetur adipiscing el.</p>
        </div>

      </div>
    </div>
  </div>
  </section>
{% endblock content %}