{% extends "base.html" %}
{% load static crispy_forms_filters %}

{% block menu %}
{% endblock menu %}

{% block content %}
<!-- Banner -->
<div class="vh-80">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static './img/logo.png' %}" alt="logo" width="70" height="70">
    <h1 class="display-5 fw-bold bg-laranja">Biblioteca Inteligente</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-light">Sistema online de gerenciamento de bibliotecas escolares.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline btn-lg px-4 gap-3 rounded-pill" style="border-color:#FF914D;"><a class="text-decoration-none" style="color:#FF914D;" href="{% url 'login' %}">Entre</a></button>
        <button type="button" class="btn btn-outline btn-lg px-4 rounded-pill" style="border-color:#FF914D;"><a class="text-decoration-none" style="color:#FF914D;" href="{% url 'cadastro' %}">Cadastre-se</a></button>
      </div>
  </div>
</div>
            
  <div class="py-5 bg-white w-100">
    <div class="container fluid">
      <div class="row m-4">

        <div class="col-md-5">
          <h2 class="fs-2 text-black fw-bold">Sobre nós</h2>
          <p class="lead fs-6 text-black">A Biblioteca Inteligente é um software de gerenciamento com objetivo de registrar movimentações de livros numa biblioteca. Através deste, os usuários poderão se cadastrar no sistema, ver disponibilidade de livros e ter controle sobre as próprias movimentações.
          </p>
        </div>

        <div class="col-md-6 offset-md-1 text-black">
          <p class="lead fs-6 text-black">A evolução tecnológica permitiu que processos técnicos dentro das instituições educacionais, seja em relação aos estudos ou ao gerenciamento interno, fossem adaptados tecnologicamente para métodos mais precisos e rápidos. Apesar disso, não é possível acompanhar esse avanço dentro de grande parte das escolas públicas. Neste projeto, propomos uma solução para esse desfalque dentro das bibliotecas públicas, por meio da criação de um sistema de software de fácil acesso e uso.</p>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}  