{% extends "base.html" %}
{% load static %}

{% block menu %}
{% endblock menu %}

{% block content %}
<section class="vh-80">
    <div class="container-fluid h-custom" id="login">
      <div class="row d-flex justify-content-center align-items-center m-3 p-3 h-100">
        <div class="p-5 m-5 p-md-4">
          <div class="container text-center pb-3">
            <h4 class="bg-laranja">Conferir disponibilidade de livro no arcervo:</h4>
          </div>
          <div class="search-bar">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Search" aria-describedby="search-addon">
              <button class="btn bg-laranja" type="button" id="search-addon">
                  <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="m-5">
            <h4 class="justify-content-start bg-laranja">Avisos</h4>
            <div class="alert alert-light" role="alert">
              Você não recebeu nenhum aviso.
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
{% endblock content %}