{% extends "base.html" %}
{% load static %}
{% block title %}Ver empréstimos{% endblock title %}

{% block menu %}{% endblock menu %}

{% block content %}
<section class="vh-80">
    <div class="container-fluid h-custom" id="login">
      <div class="row d-flex justify-content-center align-items-center m-3 p-3 h-100">
        <div class="row text-start pt-3 mt-5">
          <div class="container text-start">
            <h4 class="bg-laranja"><span><a href="{{ request.META.HTTP_REFERER }}"><i class="fas fa-arrow-left mx-2" style="color: #FF914D;"></i></a></span>Ver empréstimos</h4>
          </div>
          <div class="p-3 m-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Livro</th>
                  <th scope="col">Empréstimo</th>
                  <th scope="col">Devolução</th>
                  <th scope="col">Situação</th>
                </tr>
              </thead>
              <tbody>
                {% for emprestimo in emprestimos %}
                <tr>
                  <th scope="row">{% for livro in emprestimo.livro.all %}
                    {{ livro.titulo }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}</th>
                  <td>{{ emprestimo.data }}</td>
                  <td>{{ emprestimo.data_devolucao }}</td>
                  <td>
                    {% if emprestimo.devolvido == True %}
                    Devovido
                    {% else %}
                    Pendente
                    {% endif %}
                    {% if emprestimo.devolvido == False %}
                    <button class="btn rounded-pill mx-3" style="background-color: #FF914D;">Renovar</button></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
</section>
{% endblock content %}